@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@font-face {
  font-family: "achiko";
  src: url("/fonts/achiko.otf") format("opentype"); /* Formato correcto para .otf */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Quicksand, Poppins, "achiko", sans-serif;
}
