---
import Layout from '@/layouts/layout.astro';
import '@/styles/global.css';
import Headerindex from '@/components/header.astro';
import GradualBlur from '@/components/GradualBlur';
import ClickSpark from '@/components/ClickSpark';
---

<Layout>
  <body class="m-0 p-0 scroll-hidden h-[100svh] bg-black">
    <Headerindex />
    <ClickSpark
      client:visible
      sparkColor="#000"
      sparkSize={17}
      sparkRadius={145}
      sparkCount={19}
      duration={800}
      extraScale={1.6}
    >
      {(<main class="h-screen" />)}
    </ClickSpark>
  </body>
  <style>
    body {
      background: radial-gradient(
        ellipse at top right,
        #ebf0f6,
        #98ccd3,
        #364e68
      );
    }
  </style>
</Layout>
