---
import Layout from "@/layouts/layout.astro";
import "@/styles/global.css";
import SplitText from 

---

<Layout>
  <body class="w-full m-0 p-0 box-border">
    <main class="items-center justify-center flex min-h-screen">
      <h1 class="text-9xl">Coming Soon...</h1>
    </main>
  </body>
</Layout>
