---
import Layout from "@/layouts/layout.astro";
import "@/styles/global.css";
import SplitText from "@/components/SplitText.jsx";

const handleAnimationComplete = () => {
  console.log('All letters have animated!');
};
---
<Layout>
  <body class="w-full m-0 p-0 box-border">
    <main class=" items-center justify-center flex min-h-screen text-black">
      <img 
      src="/background/degradado.jpg" alt="iamgen de fondo de un degradado de colores" 
      class="fixed top-0 left-0 w-full h-full object-cover -z-10 blur-xl"
      />

      <SplitText
        client:visible 
        text="Proximamente..."
        className="text-9xl text-center p-10"
        delay={100}
        duration={0.6}
        ease="power3.out"
        splitType="chars"
        from={{ opacity: 0, y: 40 }}
        to={{ opacity: 1, y: 0 }}
        threshold={0.1}
        rootMargin="-100px"
        textAlign="center"
        onLetterAnimationComplete={handleAnimationComplete}
      />
    </main>
  </body>
</Layout>