---
import "@/styles/global.css";
---
<header>
    <div class="flex justify-center items-center">
        <nav class="mt-5 rounded-full bg-white/60 drop-shadow-2xl fixed top-0 w-auto items-center justify-center z-10 backdrop-blur-xs">
            <ul class="flex gap-4 p-4 px-8 overflow-x-auto whitespace-nowrap md:gap-6 md:justify-center">
                <li><a href="#home" class="text-gray-600 hover:text-gray-900 transition-colors">Inicio</a></li>
                <li><a href="#about" class="text-gray-600 hover:text-gray-900 transition-colors">Sobre Mí</a></li>
                <li><a href="#experience" class="text-gray-600 hover:text-gray-900 transition-colors">Experiencia</a></li>
                <li><a href="#projects" class="text-gray-600 hover:text-gray-900 transition-colors">Proyectos</a></li>
                <li><a href="#skills" class="text-gray-600 hover:text-gray-900 transition-colors">Skills</a></li>
                <li><a href="#contact" class="text-gray-600 hover:text-gray-900 transition-colors">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>
