<header
  class="fixed top-5 left-1/2 -translate-x-1/2"
>
  <nav
    class="border-white/10 border text-base font-medium text-white/90 rounded-full p-2 px-4 bg-black/10 backdrop-blur-lg"
  >
    <a
      href="/"
      class="hover:text-white hover:bg-white/10 p-2 rounded-full transition"
      >Home</a
    >
    <a
      href="/#about"
      class="hover:text-white hover:bg-white/10 p-2 rounded-full transition"
      >About</a
    >
    <a
      href="/#projects"
      class="hover:text-white hover:bg-white/10 p-2 rounded-full transition"
      >Projects</a
    >
    <a
      href="/#contact"
      class="hover:text-white hover:bg-white/10 p-2 rounded-full transition"
      >Contact</a
    >
  </nav>
</header>
